# not in gitignore, example for each user to create their own .env file

GOOGLE_CLOUD_PROJECT=your-project-id
GOOGLE_CLOUD_REGION=us-central1
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
MONGODB_URI=
ARIZE_API_KEY=
ARIZE_SPACE_ID=
PHOENIX_API_KEY=
PHOENIX_COLLECTOR_ENDPOINT=
